* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: #ffffff;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	background-color: #222222;
	max-width: 1600px;
	margin: 0 auto;
}

.up__btn {
	background-color: #222222;
	border: none;
	cursor: pointer;
}

.head__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.left__nav {
	display: flex;
	gap: 41px;
	flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 18px;
	margin-bottom: 19px;
}

.right__nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 33.5px;
	margin-top: 26px;
	margin-bottom: 20px;
}

.main__bigBlock {
	background-color: #f1e4e6;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 65px;
}

.mainMessage {
	border-left: 12px solid #f16d7f;
	display: flex;
	flex-direction: column;
	margin-left: 63.42px;
}
.mainText {
	color: #222;
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	padding-left: 16px;
}
.mainText_low {
	color: #222;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-left: 16px;
}

.pink__text {
	color: #f16d7f;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 96px;
}
.categCards1 {
	background-image: url(./img/ForWomen.png);
	height: 260px;
	width: 360px;
}
.categCards2 {
	background-image: url(./img/ForMen.png);
	height: 260px;
	width: 360px;
}
.categCards3 {
	background-image: url(./img/ForKids.png);
	height: 260px;
	width: 360px;
}
.categCard4 {
	background-image: url(./img/Accesories.png);
	height: 180px;
	width: 1140px;
}
.layout {
	background-color: rgba(33, 22, 22, 0.7);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.categDiscount {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.categName {
	color: #f16d7f;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.featured__up__text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.featured__h2 {
	color: #222;
	font-family: Lato;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 6px;
}

.featured__p {
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 48px;
}

.featuredCards__block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 30px;
}

.featuredCard {
	max-width: 360px;
	background-color: #f8f8f8;
}
.f__card__h3 {
	padding: 23px 16px 15px 16px;
	color: #000;
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.f__card__p {
	padding: 0px 29px 15px 16px;
	color: #5d5d5d;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.f__card__price {
	padding: 0px 16px 23px 16px;
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_down {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
.down_Button {
	padding: 15px 39px 14px 39px;
	background-color: #fff;
	border: 1px solid #ff6a6a;
	cursor: pointer;
	color: #f26376;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media (max-width: 1140px) and (min-width: 768px) {
	.container {
		max-width: 736.06px;
	}

	.header {
		max-width: 768px;
	}

	.main__bigBlock {
		max-width: 768px;
	}

	.mainMessage {
		margin-left: 39px;
	}
	.mainImage {
		max-width: 386px;
	}

	.mainText {
		font-size: 44px;
		line-height: normal;
	}
	.mainText_low {
		font-size: 24px;
	}
	.pink__text {
		font-size: 24px;
	}
	.categories {
		gap: 19px;
		margin-bottom: 109.92px;
	}
	.categCards1 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards2 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards3 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards4 {
		width: 734.58px;
		height: 116.04px;
	}
	.featured__h2 {
		margin-bottom: 3.3px;
	}

	.featured__p {
		margin-bottom: 72.74px;
	}

	.featuredCards__block {
		gap: 16px;
	}
	.feature_down {
		margin-top: 32.48px;
		margin-bottom: 70.52.px;
	}
}
