* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: #ffffff;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	background-color: #222222;
	max-width: 1600px;
	margin: 0 auto;
}

.up__btn {
	background-color: #222222;
	border: none;
	cursor: pointer;
}

.head__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.left__nav {
	display: flex;
	gap: 41px;
	flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 18px;
	margin-bottom: 19px;
}

.right__nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 33.5px;
	margin-top: 26px;
	margin-bottom: 20px;
}
.basket {
	position: relative;
}
.ellips {
	position: absolute;
	top: -7px;
	right: -7px;
}
.count {
	color: #fff;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	top: -5.5px;
	right: -1.5px;
}

.main__bigBlock {
	background-color: #f1e4e6;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 65px;
}

.mainMessage {
	border-left: 12px solid #f16d7f;
	display: flex;
	flex-direction: column;
	margin-left: 63.42px;
	cursor: pointer;
}
.mainText {
	color: #222;
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	padding-left: 16px;
}
.mainText_low {
	color: #222;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-left: 16px;
}

.pink__text {
	color: #f16d7f;
	font-family: Lato;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 96px;
}
.categCards1 {
	background-image: url(./img/ForWomen.png);
	height: 260px;
	width: 360px;
}
.categCards2 {
	background-image: url(./img/ForMen.png);
	height: 260px;
	width: 360px;
}
.categCards3 {
	background-image: url(./img/ForKids.png);
	height: 260px;
	width: 360px;
}
.categCards4 {
	background-image: url(./img/Accesories.png);
	height: 180px;
	width: 1140px;
}
.layout {
	background-color: rgba(33, 22, 22, 0.7);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.categDiscount {
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.categName {
	color: #f16d7f;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.featured__up__text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.featured__h2 {
	color: #222;
	font-family: Lato;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 6px;
	cursor: pointer;
}

.featured__p {
	color: #9f9f9f;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 48px;
}

.featuredCards__block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 30px;
}

.featuredCard {
	max-width: 360px;
	background-color: #f8f8f8;
	cursor: pointer;
}
.f__card__h3 {
	padding: 23px 16px 15px 16px;
	color: #000;
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.f__card__p {
	padding: 0px 29px 15px 16px;
	color: #5d5d5d;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.f__card__price {
	padding: 0px 16px 23px 16px;
	color: #f16d7f;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_down {
	margin-top: 48px;
	display: flex;
	justify-content: center;
	margin-bottom: 95px;
}
.down_Button {
	padding: 15px 39px 14px 39px;
	background-color: #fff;
	border: 1px solid #ff6a6a;
	cursor: pointer;
	color: #f26376;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.advantages {
	background-color: #222224;
	max-width: 1600px;
	margin: 0 auto;
}
.advantages__wrap {
	display: flex;
	gap: 30px;
}
.advantages__article {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 103px;
	margin-bottom: 104px;
}

.advantages__article_h3 {
	color: #fbfbfb;
	font-family: Lato;
	font-size: 19.96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 16px;
	margin-top: 25px;
}

.advantages__article_p {
	color: #fbfbfb;
	text-align: center;
	font-family: Lato;
	font-size: 13.972px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.footer {
	max-width: 1600px;
	margin: 0 auto;
}
.subscribe__left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.subscribe__back {
	background-image: url(./img/Footer_layer.png);
	height: 448px;
	max-width: 1600px;
}

.subscrbe__layout {
	background-color: rgba(244, 244, 244, 0.7);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 327.26px;
}

.subscribe__p {
	color: #222224;
	text-align: center;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 360px;
}
.italic {
	color: #222224;
	font-family: Lato;
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}
.subscribe__h2 {
	color: #222224;
	text-align: center;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 167.2%; /* 40.128px */
	margin-top: 38px;
}

.subscribe__h3 {
	color: #222224;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 167.2%;
}

.subscribe__right {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-right: 80px;
}
.subscribe__btn {
	margin-top: 32px;
	display: flex;
}
.small_forms {
	background-color: rgba(225, 225, 225, 1);
	border-radius: 19px 0 0 19px;
	border: none;
	padding: 16px 90px 16px 22px;
}
.small_forms::-webkit-input-placeholder {
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.small_forms2 {
	background-color: rgba(241, 109, 127, 1);
	color: #fff;
	text-align: center;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 0 19px 19px 0;
	border: none;
	padding: 16px 22px 16px 22px;
}

.social {
	background-color: #222224;
}

@media (max-width: 1140px) and (min-width: 768px) {
	.container {
		max-width: 736.06px;
	}

	.header {
		max-width: 768px;
	}

	.main__bigBlock {
		max-width: 768px;
	}

	.mainMessage {
		margin-left: 39px;
	}
	.mainImage {
		max-width: 386px;
	}

	.mainText {
		font-size: 44px;
		line-height: normal;
	}
	.mainText_low {
		font-size: 24px;
	}
	.pink__text {
		font-size: 24px;
	}
	.categories {
		gap: 19px;
		margin-bottom: 109.92px;
	}
	.categCards1 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards2 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards3 {
		width: 231.97px;
		height: 167.62px;
	}
	.categCards4 {
		height: 116px;
		width: 734.58px;
	}
	.featured__h2 {
		margin-bottom: 3.3px;
	}

	.featured__p {
		margin-bottom: 72.74px;
	}

	.featuredCards__block {
		gap: 16px;
	}
	.feature_down {
		margin-top: 32.48px;
		margin-bottom: 70.52px;
	}
}

@media (max-width: 767px) and (min-width: 320px) {
	.container {
		max-width: 359px;
	}

	.header {
		max-width: 375px;
	}

	.main__bigBlock {
		max-width: 375px;
		margin-bottom: 64px;
	}
	.hide {
		display: none;
	}

	.left__nav {
		margin-left: 8px;
	}
	.right__nav {
		margin-right: 8px;
	}
	.mainMessage {
		margin-left: 56px;
		margin-right: 56px;
		margin-top: 148px;
		margin-bottom: 148px;
	}
	.mainText {
		font-size: 38px;
		padding-left: 15px;
		margin-bottom: -3px;
	}

	.mainText_low {
		font-size: 20px;
		padding-left: 15px;
	}
	.pink__text {
		font-size: 20px;
	}
	.categories {
		gap: 32px;
		margin-bottom: 64px;
		justify-content: center;
	}

	.categCards1 {
		width: 343px;
		height: 247px;
	}
	.categCards2 {
		width: 343px;
		height: 247px;
	}
	.categCards3 {
		width: 343px;
		height: 247px;
	}
	.categCards4 {
		width: 343px;
		height: 111px;
		background-position: center;
		background-size: cover;
	}
	.featured__p {
		margin-bottom: 64.7px;
	}
	.feature_down {
		margin-top: 40.61px;
		margin-bottom: 85px;
	}
}
